<ul class="nav-item" class="nav">
    <!-- <p class="nav-item"> Navbar</p> -->
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="home">home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " routerLink="user">User</a>
    </li>

    <li class="nav-item">
        <a class="nav-link active" routerLink="blog">blog</a>
    </li>

    <li class="nav-item">
        <a class="nav-link active" routerLink="register">register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" routerLink="login">Login</a>
    </li>

    <li class="nav-item">
        <a class="nav-link active" routerLink="signup">Signup</a>
    </li>

    <!-- <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
    <a class="nav-link disabled">Disabled</a>
    </li> -->
</ul>


<h1>{{firstname}}</h1>
<h3>{{getName}}</h3>
<h3>{{obj.name}}</h3>
<h3>{{arr}}</h3>
<app-databinding></app-databinding>
<app-class-style></app-class-style>
<app-event></app-event>
<app-two-way></app-two-way>
<router-outlet></router-outlet>