<ul class="nav-item" class="nav">
    <!-- <p class="nav-item"> Navbar</p> -->
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="/">home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " routerLink="user">User</a>
    </li>

    <li class="nav-item">
        <a class="nav-link active" routerLink="blog">blog</a>
    </li>

    <li class="nav-item">
        <a class="nav-link active" routerLink="comment">Comment</a>
    </li>

    <li class="nav-item">
        <a class="nav-link active" routerLink="todos">Todos</a>
    </li>

    <li class="nav-item">
        <a class="nav-link active" routerLink="event">Event</a>
    </li>

    <li class="nav-item">
        <a class="nav-link active" routerLink="register">register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" routerLink="login">Login</a>
    </li>

    <li class="nav-item">
        <a class="nav-link active" routerLink="signup">Signup</a>
    </li>

    <!-- <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
    <a class="nav-link disabled">Disabled</a>
    </li> -->
</ul>





<router-outlet></router-outlet>